body {
  font-family: "Ubuntu", sans-serif;
}

.container {
  background: url(../image/bgr.png), no-repeat, center;
  background-size: cover;
  height: 100vh;
}

header {
  background-color: rgba(0, 0, 0, 0.4);
  margin-bottom: 55px;
}
.menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.journay {
  font-family: "Ubuntu";
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  color: #ffffff;
  text-transform: uppercase;
  margin: 18px 0px 18px 79px;
  transition: 0.3s;
}

.journay:hover {
  color: #236d47;
}

.nav {
  display: flex;
  position: relative;
}

.icon {
  margin: 18px 26px 18px 0px;
}

.icon-svg path:hover {
  fill: #236d47;
}

.nav-sign {
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  margin: 22px 79px 22px 27px;
}

.nav-sign::before {
  content: "";
  height: 19px;
  border: 0.5px solid rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 20px;
  right: 275px;
}
.nav-sign a {
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  transition: 0.3s;
}

.nav-sign a:hover {
  color: #236d47;
}

main {
  margin: 0 auto;
  background: #ffffff;
  width: 444px;
  position: relative;
}

.form {
  display: flex;
  flex-direction: column;
}
.sign-form::before {
  content: "";
  width: 18px;
  height: 18px;
  background-color: #3cb878;
  position: absolute;
  top: 31px;
  left: 0px;
}

.sign-form {
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #434343;
  margin: 31px 0px 15px 61px;
}

.log-form {
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #3cb878;
  margin: 33px 59px 13px 0px;
  transition: 0.3s;
}

.log-form:hover {
  color: #01813f;
  text-decoration: underline;
}

.head-form {
  display: flex;
  justify-content: space-between;
}

.butt {
  display: flex;
  position: relative;
}

.butt-facebook {
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  background-color: #305db8;
  border: 1px solid #305db8;
  border-radius: 3px;
  padding: 17px 22px 17px 67px;
  margin: 0px 4px 31px 61px;
  transition: 0.3s;
}

.butt-google {
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  background-color: #df4a32;
  border: 1px solid #df4a32;
  border-radius: 3px;
  padding: 17px 24px 17px 80px;
  margin-bottom: 31px;
  transition: 0.3s;
}

.butt-facebook::before {
  content: "";
  height: 28px;
  border: 0.5px solid rgba(10, 22, 47, 0.1);
  position: absolute;
  top: 11px;
  left: 108px;
}

.butt-google::before {
  content: "";
  height: 28px;
  border: 0.5px solid rgba(43, 13, 9, 0.1);
  position: absolute;
  top: 11px;
  left: 273px;
}

.butt-logo-facebook {
  position: absolute;
  top: 13px;
  left: 77px;
}

.butt-logo-google {
  position: absolute;
  top: 17px;
  left: 238px;
}

.butt-facebook:hover {
  background-color: #022263;
}

.butt-google:hover {
  background-color: #ab1f09;
}

.divider {
  text-align: center;
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #848484;
  position: relative;
  margin-bottom: 12px;
}

.divider::before,
.divider::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 150px;
  height: 1px;
  background-color: #f2f2f2;
  transform: translateY(50%);
}

.divider::before {
  left: 60px;
}

.divider::after {
  right: 60px;
}

.input-box {
  display: flex;
  flex-direction: column;
  margin: 0px 60px;
}

.input {
  padding: 16px 0px 16px 20px;
  margin-bottom: 15px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  outline: none;
  transition: 0.3s;
}

.input::placeholder {
  color: #bebebe;
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}

.input:hover {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

.checkbox {
  position: relative;
  margin: 0px 0px 20px 2px;
}

.checkbox-input {
  -webkit-appearance: none;
  position: absolute;
}

.checkbox-label {
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #434343;
  padding-left: 28px;
}

.checkbox-label::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #f2f2f2;
  position: absolute;
  top: -1px;
  left: 0;
  z-index: 1;
}

.checkbox-label::after {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  background: url(../image/check.svg) no-repeat;
  background-size: 14px 14px;
  position: absolute;
  opacity: 0;
  top: 3px;
  left: 3.7px;
  z-index: 2;
}

.checkbox-input:checked + .checkbox-label::after {
  opacity: 1;
}

.terms {
  color: #3cb878;
  transition: 0.3s;
}

.terms:hover {
  color: #00813f;
  text-decoration: underline;
}

.input-box-submit {
  text-align: center;
  padding: 16px 0px;
  margin-bottom: 38px;
  color: #ffffff;
  background-color: #63c693;
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  border: none;
  border-radius: 4px;
  transition: 0.3s;
  cursor: pointer;
}

.input-box-submit:hover {
  background-color: #00813f;
}
